* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    background-color: rgb(0, 171, 250);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    box-shadow: 1px 2px 2px;
    margin:3rem;
    padding: 30px 20px;
    border-radius: 3rem;
    
}
.header p {
    color: rgb(255, 132, 0);
    padding: 10px;
    text-decoration:line-through;
}
.mainDiv {
    background-color: rgb(5, 8, 8);
    text-align: center;
    margin: 5rem;
    padding: 5rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.2rem 0.4rem rgb(119, 119, 119);
 
    
}

.mainDiv button {
    padding: 1rem 1.25rem;
    margin: 2rem;
    background-color: rgb(21, 173, 255);
    border: none;
    border-radius: 2rem;
}

.mainDiv button:active {
    background-color: aqua;
}


.mainDiv .display {
    background-color: aliceblue;
    padding:16px;
    border-radius: 2rem;
    font-size: 3rem;
    color: rgb(255, 132, 0);
}