* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    background-color: rgb(0, 171, 250);
}

.mainDiv {
    background-color: rgb(5, 8, 8);
    text-align: center;
    margin: 5rem;
    padding: 5rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.2rem 0.4rem rgb(119, 119, 119);

    
}

.mainDiv button {
    padding: 1rem 1.25rem;
    margin: 2rem;
    background-color: rgb(21, 173, 255);
    border: none;
    border-radius: 2rem;
}

.mainDiv button:active {
    background-color: aqua;
}
